* {
    color: rgb(0, 0, 0);
}

body {
    background-image: url('./wood-2045380_1920.jpg');
    height: 100%;
}

.page-content-holder {
    background-color: white;
    opacity: .8;
}

#view-container {
    padding-top: 100px;
}

.view-container {
    padding-right: 30px;
}

.custom-bg-dark {
    background-color: #373f46 !important;
}

nav.navbar {
    height: 6rem;
}

a.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.nav-item a {
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    div#navbarCollapse {
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color: #373f46;
    }
}

div#app-container {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 96px;
    width: 100%;
    padding: 2rem;
    background-color: #1d2733;
    overflow: auto;
}

footer#custom-footer {
    height: 6rem;
    background-color: #373f46;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#custom-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #32ACED !important;
}

.btn-success {
    background-color: #4fc08d !important;
}

.btn-success:hover {
    background-color: #3da978;
}

form.custom-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.modal-title,
.modal-body p {
    color: #000 !important;
}

.late {
    color: #dc3545;
}




input, textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
