body {
    background-image: url('./wood-2045380_1920.jpg');
    height: 100%;
}

.page-content-holder {
    background-color: white;
    opacity: .8;
    border-radius: 30px;
}

.order-history-collapse-anchor:visited {
    text-decoration: none;
}

.order-history-collapse-anchor:hover {
    text-decoration: none;
}

.order-history-collapse-anchor-text, .order-history-header-icon {
    color: rgb(0, 0, 0);
}

.order-history-collapse-anchor-text:hover, .order-history-header-icon:hover {
    color: rgb(0, 130, 206) !important;
}

#view-container {
    padding-top: 100px;
}

.view-container {
    padding-right: 30px;
}

.custom-bg-dark {
    background-color: #1F405A !important;
}

nav.navbar {
    height: 6rem;
}

a.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.nav-item a {
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    div#navbarCollapse {
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color: #373f46;
    }
}

div#custom-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#app-container {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 96px;
    width: 100%;
    padding: 2rem;
    background-color: #1d2733;
    overflow: auto;
}

.btn-success {
    background-color: #46aa5b !important;
}

.btn-success:hover {
    background-color: #46aa5b;
}

form.custom-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

input, textarea {
  border: 1px solid #3b3737;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}
